old/.auto-save-list
old/.backups
old/.tramp-auto-save
old/.ido*.last
old/.places*
old/places*
old/backups
old/.recentf*
old/.smex-items*
old/.mc-lists.el
old/elpa
old/var
old/.projectile-bookmarks.eld
old/.company-statistics-cache.el
old/.hl-save
old/*.elc
old/langs-extra.el
old/proxy.el
old/eshell/*
old/.nrepl-history
old/bookmarks
old/.DS_Store
old/.tern-port
old/test-files/.tern-port
old/elpa-backups
old/.org-id-locations
old/url
old/.cache
old/t-before.el
old/org-gcal/*
old/.emacs.desktop
old/.emacs.desktop.lock
old/auto-save-list/*
old/projectile-bookmarks.eld
old/projectile.cache
old/games/*
old/tramp
old/%backup%~
old/eww-bookmarks
old/request
old/transient
old/diary
old/.lsp-session-*
old/.desktop-*
old.cache/projectile.projects
old/straight
old/readme.el
old.java-version
old/ido.last
old/network-security.data
old/workspace/
old/smex-items
old/elpy/
old/eclipse.jdt.ls/
old/.log/
old/.idea/
old/.cask/
old*.elc
old/hackernews/
old/forge-database.sqlite
old/eln-cache/
