/history
/test-files/.direnv/
/test-files/node_modules/
/test-files/package-lock.json
/transient/
/elpa/
/eln-cache/
/agent/
/.lsp/
/.clj-kondo/
/.beads/
/.agent-shell/
/.DS_Store
/auto-save-list/
/projects
/perspective-state.el
/multisession/
/emojis/
/tramp
/request/
/.chatgpt-shell.el
/.idea
/chatgpt
/recentf
