/.auto-save-list
/.backups
/.tramp-auto-save
/.ido*.last
/.places*
/places*
/backups
/.recentf*
/.smex-items*
/.mc-lists.el
/elpa
/var
/.projectile-bookmarks.eld
/.company-statistics-cache.el
/.hl-save
/*.elc
/langs-extra.el
/proxy.el
/eshell/*
/.nrepl-history
/bookmarks
/.DS_Store
/.tern-port
/test-files/.tern-port
/elpa-backups
/.org-id-locations
/url
/.cache
/t-before.el
/org-gcal/*
/.emacs.desktop
/.emacs.desktop.lock
/auto-save-list/*
